extends ../layout

block content
  h1 Users
  table
    tr
      th Id
      th First Name
      th Last Name
      th Create At
      th Updated At
    each user in users
      tr
        td= user.id
        td= user.first_name
        td= user.last_name
        td= user.created_at
        td= user.updated_at

